<%= content_for(:after_js) do %>

<script>
    $(document).ready(function() {
        $('.owl-carousel').owlCarousel({
            stagePadding: 50,
            loop: true,
            margin: 10,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 3
                }
            }
        });
    });
</script>
<% end %>

<%= render 'layouts/responsive_header' %>

<%= image_tag 'biglogo.jpg', class: 'img-fluid' %>

<div class="center jumbotron" , style="background-color:#77E8F4; padding-top:100px;">
    <div class="container rounded p-3 my-3 bg-info ">
        <%= render 'layouts/about' %>
    </div>
</div>

<div class="center jumbotron" , style="background-color:#77E8F4">
    <h1>
        Our Instructors
    </h1>

    <div class="owl-carousel">
        <% Dir.glob('app/assets/images/profile/*').map do |path| %>
        <%= image_tag "profile/#{ File.basename(path) }" %>
        <% end.reduce(&:+) %>
    </div>
</div>

<div class="center jumbotron" , style="background-color:#77E8F4">
    <br><br><br>
    PLACEHOLDER - Image Gallery
    <br><br><br>
</div>

<div class="center jumbotron" , style="background-color:#77E8F4">
    <br><br><br>
    PLACEHOLDER - Payment Plans
    <br><br><br>

    <%= link_to "Contact Us", placeholder_path, class: "btn btn-lg btn-primary" %>
</div>