<div class="row">

    <div class="col"></div>

    <div class="col-6">
        <div class="basic-container first-container">
            <%= image_tag 'biglogo.jpg', class: 'img-fluid' %>
        </div>
    </div>

    <div class="col"></div>
</div>

<div class="row">
    <div class="col"></div>

    <div class="col-6">
        <div class="basic-container">
            <div class="contact">
                <br>
                <%= link_to image_tag( 'sign_up.png'), "#" %>
            </div>

            <%= render 'layouts/about' %>
            <%= render 'layouts/contact_links' %>

        </div>

        <div class="col"></div>
    </div>

</div>

<div class="row">
    <div class="basic-container owl-carousel" style="direction: ltr;">
        <% @all_instructors.each do |instructor| %>
        <%= render 'layouts/instructor_card', instructor: instructor %>
        <% end %>
    </div>
</div>



<div class="row">
    <div class="col"></div>
    <div class="col-6">

        <%= render 'layouts/calendar', activities: @activities, week_number: 1, date_begin: Date.today,  show_toggle_button: false, show_date: true %>

    </div>
    <div class="col"></div>
</div>
<br />
<br />
<br />


<div class="col"></div>
</div>
<br />
<br />
<br />