<div class="row">

    <div class="col"></div>

    <div class="col-6">
        <div class="basic-container first-container">
            <%= image_tag 'biglogo.jpg', class: 'img-fluid' %>
        </div>
    </div>

    <div class="col"></div>
</div>

<div class="row">
    <div class="col"></div>

    <div class="col-6">
        <div class="basic-container">
            <div class="contact">
                <br>
                <%= link_to image_tag( 'sign_up.png'), new_user_registration_path %>
            </div>

            <%= render 'layouts/about' %>
            <div class="contact">

                <a class="btn btn-primary btn-lg btn-floating" style="background-color: #3b5998; color: white;" href="#!" role="button"><i class="fab fa-facebook me-2"></i> Facebook</a>
                <a class="btn btn-primary btn-lg btn-floating" style="background-color: #ac2bac; color: white;" href="https://www.instagram.com/the.studio.bll/" role="button"><i class="fab fa-instagram me-2"></i> instagram</a>
                <a class="btn btn-primary btn-lg btn-floating" style="background-color: green; color: white;" href="https://wa.me/message/GRK5UFPDEZIFK1" role="button"><i class="fab fa-whatsapp" aria-hidden="true"></i></i> WhatsApp</a>
                <a class="btn btn-primary btn-lg btn-floating" style="background-color: brown; color: white;" href="tel://+97246042278" role="button"><i class="fa fa-phone" aria-hidden="true"></i>טלפון</a>
                <br><br>
                <%= link_to "צור קשר", new_contact_path, class: "btn btn-main btn-lg"  %>

            </div>
        </div>

        <div class="col"></div>
    </div>


    <div class="row">
        <div class="col"></div>
        <div class="col-6">

            <%= render 'layouts/calendar', activities: @activities, week_number: 1, date_begin: Date.today %>

        </div>
        <div class="col"></div>
    </div>
    <br />
    <br />
    <br />



    <div class="row">
        <div class="col"></div>

        <div class="col-6">

            <%= render 'layouts/calendar', activities: @activities, week_number: 1,
         date_begin: Date.today.beginning_of_week + 1.week %>

        </div>
    </div>

    <div class="col"></div>
</div>
<br />
<br />
<br />

<div class="row">
    <div class="col"></div>

    <div class="col-6">
        <div class="basic-container">
            <h1>
                צוות המדריכים
            </h1>

            <div class="owl-carousel">

                <% @all_instructors.each do |instructor| %>
                <div class="card" style="width: 18rem; ">
                    <%= link_to image_tag(instructor.displayed_image, :class => "card-img-top", :style => "border-radius: 10%;" ), instructor%>
                    <div class="card-body">
                        <p class="card-text" , style="text-align: center;"><strong><%= instructor.first  + ' ' +  instructor.last %></strong></p>
                    </div>
                </div>
                <% end %>
            </div>
        </div>
    </div>

    <div class="col"></div>
</div>