<%= content_for(:after_js) do %>
<script>
    $(document).ready(function() {
        $('.owl-carousel').owlCarousel({
            navigation: true,
            paginationSpeed: 1000,
            goToFirstSpeed: 2000,
            singleItem: true,
            autoheight: true,
            transitionStyle: "fade",
            loop: true
        });
    });
</script>


<% end %>
<div class="row">

    <div class="col"></div>

    <div class="col-6">
        <div class="first-container">
            <%= image_tag 'biglogo.jpg', class: 'img-fluid' %>
        </div>
    </div>

    <div class="col"></div>
</div>
<div class="row">
    <div class="col"></div>

    <div class="col-6">
        <div class="basic-container">
            <%= render 'layouts/about' %>
        </div>
    </div>

    <div class="col"></div>
</div>
<br />
<br />
<br />

<div class="row">
    <div class="col"></div>

    <div class="col-6">
        <div class="basic-container">
            <%= week_calendar(events: @activities, number_of_weeks: 1) do |date, activities| %>
            <%= date %>

            <% activities.each do |activity| %>
            <div class="card" style="width: 12rem;">
                <% back_color = "#{activity.mother.instructor.color}" %>
                <% back_color = "white" if back_color == "" %>

                <div class="card-body" style="background-color: <%= back_color %>">
                    <h4 class="card-title"><%= activity.mother.name %></h4>
                    <h5 class="card-subtitle mb-2 text-muted"><%= link_to activity.mother.instructor.first.capitalize + ' ' + activity.mother.instructor.last.capitalize,
                                                                     activity.mother.instructor %></h5>
                    <h5>Starts at: <%= activity.start_time.to_s(:time) %> </h5>
                </div>
            </div>

            <% end %>
            <% end %>
        </div>
    </div>

    <div class="col"></div>
</div>
<br />
<br />
<br />

<div class="row">
    <div class="col"></div>

    <div class="col-6">
        <div class="basic-container"> <%= week_calendar(events: @activities, number_of_weeks: 1, start_date: Date.today.beginning_of_week + 1.week) do |date, activities| %>
            <%= date %>

            <% activities.each do |activity| %>
            <div class="card" style="width: 12rem;">
                <% back_color = "#{activity.mother.instructor.color}" %>
                <% back_color = "white" if back_color == "" %>

                <div class="card-body" style="background-color: <%= back_color %>">
                    <h4 class="card-title"><%= activity.mother.name %></h4>
                    <h5 class="card-subtitle mb-2 text-muted"><%= link_to activity.mother.instructor.first.capitalize + ' ' + activity.mother.instructor.last.capitalize,
                                                                     activity.mother.instructor %></h5>
                    <h5>Starts at: <%= activity.start_time.to_s(:time) %> </h5>
                </div>
            </div>

            <% end %>
            <% end %>
        </div>
    </div>

    <div class="col"></div>
</div>
<br />
<br />
<br />

<div class="row">
    <div class="col"></div>

    <div class="col-6">
        <div class="basic-container">
            <h1>
                Our Instructors
            </h1>

            <div class="owl-carousel">
                <% @all_instructors.each do |instructor| %>
                <div class="card" style="width: 18rem;">
                    <%= link_to image_tag(instructor.displayed_image, :class => "card-img-top" ), instructor%>
                    <div class="card-body">
                        <p class="card-text" , style="text-align: center;"><strong><%= instructor.first  + ' ' +  instructor.last %></strong></p>
                    </div>
                </div>
                <% end %>
            </div>
        </div>
    </div>

    <div class="col"></div>
</div>
<br />
<br />
<br />