<div class="basic-container first-container">
    <div class="buttons">
        <%= submit_tag "פניות חדשות", :type => 'button', :id => "switchA" %>
        <%= submit_tag "מתאמנים", :type => 'button', :id => "switchB", :onclick => 'show("It works!")' %>
    </div>
    <div class="row">
        <div class="col-md-12">

            <div class="table-responsive" id="tableA" style="direction: rtl; display:none;">
                <table class="table table-hover table-bordered" style="background-color: white;">
                    <thead class="thead-dark">
                        <tr>
                            <th class="text-center">שם פרטי</th>
                            <th class="text-center">שם משפחה</th>
                            <th class="text-center">דואר אלקטרוני</th>
                            <th class="text-center">מספר טלפון</th>
                            <th class="text-center">תחומי עניין</th>
                            <th colspan="2"></th>
                        </tr>
                    </thead>

                    <tbody>
                        <% @contacts.each do |contact| %>
                        <tr>
                            <td><%= contact.first %></td>
                            <td><%= contact.last %></td>
                            <td><%= contact.email %></td>
                            <td><%= contact.phone %></td>
                            <td><%= contact.interests %></td>
                            <td><%= link_to 'רישום למערכת', convert_path(id: contact.id) %></td>
                            <td><%= link_to 'מחיקה', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>

                <br>

                <%= link_to 'New Contact', new_contact_path %>

            </div>
            <div class="table-responsive" id="tableB" style="direction: rtl;">
                <table class="table table-hover table-bordered" id="searchableB" style="background-color: white;">
                    <thead class="thead-dark">
                        <tr>
                            <th class="text-center">שם פרטי</th>
                            <th class="text-center">שם משפחה</th>
                            <th class="text-center">דואר אלקטרוני</th>
                            <th class="text-center">טלפון</th>
                        </tr>
                    </thead>

                    <tbody>
                        <% @trainees.each do |trainee| %>
                        <tr>
                            <td><%= trainee.first %></td>
                            <td><%= trainee.last %></td>
                            <td><%= trainee.email %></td>
                            <td><%= trainee.phone %></td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>

                <br>

                <%= link_to 'New Trainee', new_trainee_path %>
            </div>
        </div>
    </div>
</div>


<div class="basic-container">
    <h1>
        השבוע הקרוב
    </h1>
</div>
<%= render 'layouts/calendar', activities: @activities, week_number: 1,
         date_begin: Date.today.beginning_of_week %>

<div class="basic-container">
    <h1>
        השבועיים הבאים
    </h1>
</div>
<%= render 'layouts/calendar', activities: @activities, week_number: 2,
         date_begin: Date.today.beginning_of_week + 1.week %>


<script type="text/javascript">
    $(document).ready(function() {
        $('#searchableB').DataTable();
    });
</script>