<% provide(:title, "Instructor Profile") %>
<div class="basic-container first-container">
    <div class="row">
        <aside class="col-md-3">
            <section>

                <%= image_tag @instructor.displayed_image,
                     loading: "lazy", alt: @instructor.first, class: "rounded-full" %>
            </section>
            <section class="name">
                <%= @instructor.first.capitalize %> <%= @instructor.last.capitalize %>
            </section>
        </aside>
        <div class="col-md-8">
            <div class="profile-stats">
                <ul class="no-bullets">
                    <h4>
                        <li class="menu-item"> <strong><%= @instructor.speciality %></strong> </li>
                    </h4>
                </ul>
                <h4>
                    <strong> שיעורים בשבועיים הקרובים</strong>
                </h4>
                <div class="table-responsive" style="direction: rtl;">
                    <table class="table table-hover table-bordered" style="background-color: white;">
                        <thead class="thead-dark" style="color: black;">
                            <tr>
                                <th>שיעור </th>
                                <th>תאריך </th>
                                <th>יום </th>
                                <th>שעה </th>
                            </tr>
                        </thead>

                        <tbody style="color: black;">
                            <% @instructor_time_slots.each do |slot| %>
                            <tr>
                                <td><%= slot.mother.name %></td>
                                <td><%= slot.start_time.to_date %></td>
                                <td><%= daynum_to_hebrew_day(slot.start_time.wday) %></td>
                                <td><%= slot.get_clean_datetime(:time) %></td>

                            </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            </div>


            <div class="profile-stats">
                <%= @instructor.description %>

                <div class="btn btn-main" style="display: block;">
                    <% if admin_signed_in? %>
                    <%= link_to "הוסף פעילות", new_activity_path(id: @instructor.id) %>
                    <% else %>
                    <%= link_to "חזרה לעמוד הבית", root_path %>
                    <% end %>
                </div>
            </div>
        </div>



    </div>
</div>