<div class="basic-container first-container">

    <%= bootstrap_form_for(@time_slot, url: reschedule_url ) do |f| %>
    <%= f.datetime_select :start_time, label: "בחר שיבוץ חדש לשיעור"%>
    <%= f.check_box :recurring, label: "האם לשנות את השיבוץ לכל השיעורים?"%>
    <%= f.hidden_field :id, value: @time_slot.id %>


    <div class="actions">
        <%= f.submit "עדכון שיבוץ" %>
    </div>
    <% end %>
</div>