<div class="basic-container first-container">
    <div class="table-responsive" style="direction: rtl;">
        <table class="table table-hover table-bordered" id="searchableB" style="background-color: white;">
            <thead class="thead-dark">
                <tr>
                    <th class="text-center">קבוצה</th>
                    <th class="text-center">רשומים</th>
                    <th class="text-center">פעולות </th>
                </tr>
            </thead>

            <tbody>
                <% @activities.each do |activity| %>
                <tr>
                    <td><%= activity.name %></td>
                    <td>
                        <% activity.trainees.each do |t| %>
                        <% if activity.need_to_payed_for_group?(t.id) %>
                        <% color = "red" %>
                        <% tag = "רישום לאחר תשלום" %>
                        <% path = change_status_path(id: t.id, activity_id: activity.id) %>
                        <% else %>
                        <% color = "green" %>
                        <% tag = "ביטול רישום" %>
                        <% path = cancel_group_path(id: t.id, activity_id: activity.id) %>
                        <% end %>
                        <div>
                            <button class="btn btn-main dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span style="color: <%= color %>;"><%= t.full_name %> </span>
                            </button>


                            <ul class="dropdown-menu no-bullets" style="background-color: info;">
                                <li>
                                    <%= link_to tag, path, class: "btn btn-main" %>
                                </li>
                                <li>
                                    <%= link_to "לפרופיל", t, class: "btn btn-main" %>
                                </li>
                            </ul>
                        </div>
                        <% end %>
                    </td>
                </tr>
                <% end %>
            </tbody>
        </table>

    </div>
</div>