<%= bootstrap_form_with(model: contact, local: true) do |form| %>

<% if contact.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

    <ul>
        <% contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<br><br><br>
<%= form.email_field :email, label: "דואר אלקטרוני", placeholder: "YourMail@here.com", required: true  %>
<%= form.text_field :first, label: "שם פרטי", placeholder: "ישראל", required: true %>
<%= form.text_field :last, label: "שם משפחה", placeholder: "ישראלי", required: true %>
<%= form.telephone_field :phone, label: "מספר טלפון", placeholder: '0501234567' %>
<br><br>

<label class="center" dir="rtl"> אני מעוניינ/ת בפרטים נוספים על השיעורים הבאים: </label>


<%= form.select :interests, @activities.pluck(:name), {:label => "שיעורי הסטודיו"}, class: 'js-activities', multiple: true %>

<%= form.text_area :info, label: " פרטים נוספים", placeholder: 'משהו נוסף שתרצו לספר לנו?' %>
<div>
    <%= form.submit "שלח/י" %>
</div>

<% end %>