<h1>A new contact has been added to the site</h1>

<p>
    name: <%= @contact.name %> <br>
    email: <%= @contact.email %> <br>
    phone number: <%= @contact.mobile %> <br>

    courses: <%= @contact.interests %> <br>

    notes: <%= @contact.info %>
</p>