<div class="basic-container first-container">
    <h1>
        היסטוריית שיעורים
    </h1>
    <div class="table-responsive" style="direction: rtl;">
        <table class="table table-hover table-bordered" style="background-color: white;">
            <thead class="thead-dark" style="color: black;">
                <tr>
                    <th class="text-center">פעילות </th>
                    <th class="text-center">תאריך </th>
                    <th class="text-center">יום </th>
                    <th class="text-center">שעה </th>
                    <th colspan="1"></th>
                </tr>
            </thead>

            <tbody style="color: black;">
                <% @past_time_slots.each do |activity| %>
                <tr>
                    <td><%= activity.mother.name %></td>
                    <td><%= activity.start_time.strftime("%d.%m.%y") %></td>
                    <td><%= daynum_to_hebrew_day(activity.start_time.wday) %></td>
                    <td><%= activity.get_clean_datetime(:time) %></td>
                    <td><%= link_to 'בטל רישום', cancel_enrollment_path(slot_id: activity.id, trainee_id: @trainee.id) %></td>

                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>