<% provide(:title, "Instructor Profile" ) %>


    <div class="basic-container">

        <%= image_tag @activity.displayed_image, loading: "lazy" , alt: @activity.name, class: "img-circle img-fluid" %>

            <div class="profile-stats">
                <ul class="no-bullets">
                    <h4>
                        <li class="menu-item">
                            <%= @activity.name %>
                        </li>
                    </h4>
                    <h4>
                        <li class="menu-item">
                            <%=link_to @activity.instructor.first + ' ' + @activity.instructor.last,
                                @activity.instructor %>
                        </li>
                    </h4>
                    <h4>
                        <li class="menu-item">משך השיעור | <%= @activity.duration %> דקות</li>
                    </h4>
                    <li class="menu-item">
                        <%=simple_format(@activity.description) %>
                    </li>

                </ul>
                <h4>
                    השיעורים הקרובים
                </h4>
                <div class="table-responsive" style="direction: rtl;">
                    <%= render 'layouts/calendar' , activities: @time_slots, week_number: 1, date_begin:
                        Date.today.beginning_of_week, show_toggle_button: false, show_date: true %>
                        <% if admin_signed_in? %>
                            <%= link_to "הכנס פעילות ללוח שנה" , new_time_slot_path(id: @activity.id),
                                class: "btn btn-primary" %>
                                <% else %>