<div class="basic-container login-container">


    <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-floating mb-3">
        <%= f.email_field :email, label: "דואר אלקטרוני", style: "float: right;", autofocus: true, autocomplete: "email", required: true %>
    </div>
    <div class="form-floating mb-3">
        <%= f.password_field :password, label: "סיסמה", autofocus: true, autocomplete: "current-password", required: true %>
    </div>

    <%= f.check_box :remember_me , label: "זכור אותי", style: "float: right;", autofocus: true%>
    <%= f.submit "התחברות" %>
    <% end %>



</div>