<div class="basic-container">
    <div class="buttons">
        <%= submit_tag "חשבונות פתוחים" , type: 'button', id: "switchA", class: "btn btn-primary btn-lg sqs-block-button-element" %>
        <%= submit_tag "תשלומי חוגים" , type: 'button', id: "switchC", class: "btn btn-primary btn-lg sqs-block-button-element" %>
        <%= submit_tag "כל התשלומים" , type: 'button', id: "switchB", class: "btn btn-primary btn-lg sqs-block-button-element" %>
    </div>
    <div id='tableA' style="display:none;">
        <table class="table table-hover table-bordered" id="searchableB"
            style="background-color: white; direction: rtl;">
            <thead class="thead-dark">
                <tr>
                    <th class="text-center">שם המתאמן</th>
                    <th class="text-center">טלפון</th>
                    <th class="text-center">חוב מתאמן</th>
                    <th class="text-center">הזן כרטיסים</th>
                </tr>
            </thead>

            <tbody>
                <% @need_to_pay.each do |trainee| %>
                    <tr>
                        <td>
                            <%= link_to trainee.full_name, trainee, class: "btn btn-primary" %>
                        </td>
                        <td>
                            <%= link_to trainee.phone, "https://wa.me/#{trainee.get_international_number}" , target:
                                :_blank %>
                        </td>
                        <td>
                            <%= trainee.payment_status %>
                        </td>
                        <td>
                            <%= bootstrap_form_for(trainee, url: payment_path, local: true) do |f| %>

                                <%= f.select :ticket, (1..10), label: "מספר הכרטיסים לטעינה" %>
                                    <%= f.hidden_field :id, value: trainee.id %>
                                        <%= f.submit "טען כרטיסים" , class: "btn btn-primary" %>
                                            <% end %>
                        </td>
                    </tr>
                    <% end %>
            </tbody>
        </table>
    </div>
    <div id='tableB'>
        <table class="table table-hover table-bordered" id="searchableB" style="background-color: white;">
            <thead class="thead-dark">
                <tr>
                    <th class="text-center">שם פרטי</th>
                    <th class="text-center">שם משפחה</th>
                    <th class="text-center">טלפון</th>
                    <th class="text-center">תאריך רכישה</th>
                    <th class="text-center">מספר כרטיסים</th>
                    <th class="text-center">פעולות</th>
                </tr>
            </thead>

            <tbody>
                <% @past_payments.each do |payment| %>
                    <tr>
                        <td>
                            <%= payment.trainee.first %>
                        </td>
                        <td>
                            <%= payment.trainee.last %>
                        </td>
                        <td>
                            <%= link_to payment.trainee.phone, "https://wa.me/#{payment.trainee.get_international_number}" ,
                                target: :_blank %>
                        </td>
                        <td>
                            <%= payment.created_at.to_date %>
                        </td>
                        <td>
                            <%= payment.number_of_tickets %>
                        </td>
                        <td>
                            <%= link_to "זיכוי" , refund_payment_path(id: payment.id), data:
                                {confirm: "האם לזכות את החיוב?" }, class: "btn btn-primary" %>
                        </td>

                    </tr>
                    <% end %>
            </tbody>
        </table>
    </div>
    <div id='tableC' style="display:none;">
        <div class="row">
            <div class="col-md-12">
                <div class="panel-body">
                    <table class="table table-hover table-bordered"
                        style="background-color: white; border-collapse: collapse;">
                        <thead class="thead-dark">
                            <tr>
                                <th class="text-center"> שם הקבוצה </th>
                                <th class="text-center"> מדריכ/ה </th>
                                <th class="text-center"> מצב תשלומים </th>
                                <th class="text-center"> (לחץ לצפייה בפירוט השיעורים) </th>
                            </tr>
                        </thead>

                        <tbody>
                            <% @monthly_activities.each_with_index do |activity, index1| %>
                                <% target="extra" + index1.to_s %>
                                    <tr data-bs-toggle="collapse" data-bs-target=<%="." + target %> style=<%= "font-weight: bold;
                                        color: black; background-color: " + activity.instructor.color + ';' %>>
                                            <% payment_hash=activity.payment_hash %>
                                                <td>
                                                    <%= activity.name %>
                                                </td>
                                                <td>
                                                    <%= activity.instructor.full_name %>
                                                </td>
                                                <td>
                                                    <%= payment_hash.values.count(true) %> / <%=
                                                            payment_hash.values.count %>
                                                </td>
                                                <td> <span class="glyphicon glyphicon-plus"></span> </td>
                                    </tr>

                                    <% payment_hash.each do |trainee, status| %>
                                        <tr>
                                            <td class="hiddenRow">
                                                <div class="collapse <%= target %>">
                                                    <%= trainee.full_name %>
                                                </div>
                                            </td>
                                            <td class="hiddenRow">
                                                <div class="collapse <%= target %>">
                                                    <%= trainee.phone %>
                                                </div>
                                            </td>
                                            <td class="hiddenRow">
                                                <div class="collapse <%= target %>">
                                                    <%= if status then "שולם" else "לא שולם" end %>
                                                </div>
                                            </td>
                                            <td class="hiddenRow">
                                                <% if status then link_text="בטל תשלום" else link_text="הזן תשלום" end
                                                    %>
                                                    <div class="collapse <%= target %>">
                                                        <%= link_to link_text, monthly_payment_path(trainee_id:
                                                            trainee.id, activity_id: activity.id, status: status),
                                                            class: "btn btn-primary btn-md" %>
                                                    </div>
                                            </td>

                                        </tr>
                                        <% end %>
                                            <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <br>
    <br>
</div>



<div class="basic-container">
</div>