<p id="notice"><%= notice %></p>
<div class="basic-container">
    <h1>מתאמנים</h1>

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive" style="direction: rtl;">
                <div class="table-responsive" id="tableB" style="direction: rtl;">
                    <table class="table table-hover table-bordered" id="searchableB" style="background-color: white;">
                        <thead class="thead-dark">
                            <tr>
                                <th class="text-center">שם פרטי</th>
                                <th class="text-center">שם משפחה</th>
                                <th class="text-center">דואר אלקטרוני</th>
                                <th class="text-center">טלפון</th>
                                <th class="text-center">תחומי עניין</th>
                                <th class="text-center">משימות</th>
                            </tr>
                        </thead>

                        <tbody>
                            <% @trainees.each do |trainee| %>
                            <tr>
                                <td><%= trainee.first %></td>
                                <td><%= trainee.last %></td>
                                <td>
                                    <%= trainee.email %>
                                    <span style="float: left;"> | <%= link_to "פרופיל", trainee, class: 'btn btn-main' %>
                                        | <%= link_to "רישום", enroll_path(id: trainee.id), class: 'btn btn-main'  %> | <%= link_to "יומן שיחות", conversation_path(id: trainee.id), class: 'btn btn-main'  %>
                                    </span>
                                </td>
                                <td><%= link_to trainee.phone, "https://wa.me/#{trainee.get_international_number}", target: :_blank  %></td>
                                <td>
                                    <div>
                                        <button class="btn btn-main dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span> <%= trainee.interests %> </span>
                                        </button>
                                        <ul class="dropdown-menu no-bullets" style="background-color: info;">
                                            <% trainee.enroll_count.each do |name, count| %>
                                            <li>
                                                <%= name %> | <%= count %>
                                            </li>
                                            <% end %>
                                        </ul>
                                    </div>

                                </td>
                                <td>
                                    <% if trainee.open_tasks.empty? %>
                                    <%= link_to "צור משימה", conversation_path(id: trainee.id), class: 'btn btn-main' %>
                                    <% else %>
                                    <div>
                                        <button class="btn btn-main dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span>משימות פתוחות</span>
                                        </button>
                                        <ul class="dropdown-menu no-bullets" style="background-color: info;">
                                            <% trainee.open_tasks.each do |task| %>
                                            <li>
                                                <%= task.content %> | <%= task.due_date.to_date.strftime("%d/%m/%y") %> | <br>
                                                <%= bootstrap_form_for(task, url: update_status_path, local: true) do |f| %>
                                                <%= f.hidden_field :id, value: task.id %>
                                                <%= f.hidden_field :trainee_id, value: trainee.id %>
                                                <%= f.submit "סגירת משימה", class: "btn btn-main btn-sm" %>
                                                <% end %>
                                            </li>
                                            <% end %>
                                        </ul>
                                    </div>
                                    <% end %>

                                </td>

                            </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>