<div class="basic-container first-container">
    <div class="row">
        <aside class="col-md-3">
            <section>

                <%= image_tag 'default_profile.jpg',
                     loading: "lazy", alt: @trainee.first, class: "rounded-full" %>
            </section>
            <section class="name">
                <%= @trainee.first.capitalize %> <%= @trainee.last.capitalize %>
            </section>
        </aside>
        <div class="col-md-8">
            <div class="profile-stats">
                <ul class="no-bullets">
                    <li class="menu-item">דואר אלקטרוני | <%= @trainee.email %></li>
                    <li class="menu-item">מספר טלפון | <%= @trainee.phone %></li>
                    <li class="menu-item">כרטיסים | <%= @trainee.ticket %></li>
                    <li class="menu-item"><%= link_to "יומן שיחות", conversation_path(id: @trainee.id), class: "btn btn-main" %></li>

                </ul>
                <div class="basic-container">
                    <% if admin_signed_in? %>
                    <%= bootstrap_form_for(@trainee, url: load_tickets_path, local: true, layout: :horizontal, label_col: "col-sm-4", control_col: "col-sm-10") do |f| %>

                    <%= f.select :ticket, (1..10), label: "מספר הכרטיסים לטעינה" %>
                    <%= f.hidden_field :id, value: @trainee.id, class: "btn btn-primary" %>
                    <%= f.submit "טען כרטיסים" %>

                    <% end %>

                    <% end %>
                </div>
            </div>

            <div class="profile-stats">
                <h3 style="color: white; margin-top: 5px;">
                    השיעורים שלי
                </h3>
                <% if @enrolled_activity.empty? %>
                <h3>
                    אינך רשום לאף שיעור
                </h3>
                <% else %>
                <div class="table-responsive" style="direction: rtl;">
                    <table class="table table-hover table-bordered" style="background-color: white;">
                        <thead class="thead-dark" style="color: black;">
                            <tr>
                                <th class="text-center">פעילות </th>
                                <th class="text-center">תאריך </th>
                                <th class="text-center">יום </th>
                                <th class="text-center">שעה </th>
                                <th colspan="1"></th>
                            </tr>
                        </thead>

                        <tbody style="color: black;">
                            <% @enrolled_activity.each do |activity| %>
                            <tr>
                                <td><%= activity.mother.name %></td>
                                <td><%= activity.start_time.to_date %></td>
                                <td><%= daynum_to_hebrew_day(activity.start_time.wday) %></td>
                                <td><%= activity.get_clean_datetime(:time) %></td>
                                <td><%= link_to 'בטל רישום', cancel_enroll_path(time_slot_id: activity.id, trainee_id: @trainee.id) %></td>

                            </tr>
                            <% end %>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>



    </div>
</div>

<div class="basic-container">
    <h3>
        ילדים של המתאמן
    </h3>
    <%= bootstrap_form_for(@child, url: child_info_path, local: true) do |f| %>
    <%= f.text_field :name, label: "שם פרטי" %>
    <%= f.text_field :age, label: "גיל" %>
    <%= f.hidden_field :trainee_id, value: @trainee.id %>
    <%= f.submit "צור", class: "btn btn-main" %>
    <% end %>
    <% if !@enrolled_children.empty? %>

    <div class="table-responsive">
        <table class="table table-hover table-bordered" style="background-color: white;">
            <thead class="thead-dark">
                <tr>
                    <th class="text-center">שם הילד</th>
                    <th class="text-center">גיל</th>
                    <th class="text-center">חוגים רשומים</th>
                    <th class="text-center">מספר טלפון</th>
                    <th colspan="2"></th>
                </tr>
            </thead>

            <tbody>
                <% @enrolled_children.each do |child| %>
                <tr>
                    <td><%= child.name %></td>
                    <td><%= child.age %></td>
                    <td>
                        <%= bootstrap_form_for(@child_enrollment, url: add_child_path, local: true) do |f| %>
                        <%= f.select :time_slot, @uniq_enrolled_classes.pluck(:name) %>
                        <%= f.hidden_field :child_id, value: child.id %>
                        <%= f.submit "רישום ילד/ה לשיעור", class: "btn btn-main" %>
                        <% end %>
                    </td>
                </tr>
                <% end %>
            </tbody>
        </table>

        <br>

        <%= link_to 'New Contact', new_contact_path %>

    </div>
    <div>
        <% end %>