<div class="basic-container">
    <div class="row">
        <aside class="col-md-3">
            <section>

                <%= image_tag 'default_profile.jpg',
                     loading: "lazy", alt: @trainee.first, class: "rounded-full" %>
            </section>
            <section class="name">
                <h3 style="color: white;"> <%= @trainee.first.capitalize %> <%= @trainee.last.capitalize %> </h3>
                <%= link_to "  הקפא מתאמן   ", @trainee, class: "btn btn-main btn-lg", method: :delete, data: { confirm: 'Are you sure?' } %>
            </section>
        </aside>
        <div class="col-md-4">
            <div class="profile-stats">
                <ul class="no-bullets">
                    <li class="menu-item"><%= link_to "עריכת פרופיל", edit_trainee_path(@trainee), class: "btn btn-main btn-lg" %></li>
                    <li class="menu-item"><%= link_to "יומן שיחות", conversation_path(id: @trainee.id), class: "btn btn-main btn-lg" %></li>
                    <li class="menu-item"><%= link_to "   הרשמה   ", enroll_path(id: @trainee.id), class: "btn btn-main btn-lg" %></li>
                    <li class="menu-item"><%= link_to "   היסטוריית שיעורים   ", enroll_history_path(trainee_id: @trainee.id), class: "btn btn-main btn-lg" %></li>

                    <% if @trainee.parent.nil? %>
                    <li class="menu-item"><%= link_to "   רשום ילד   ", enroll_child_path(id: @trainee.id), class: "btn btn-main btn-lg" %></li>
                    <% @trainee.get_children_trainees.each do |child| %>
                    <li class="menu-item"><%= link_to child.full_name, child, class: "btn btn-primary btn-sm" %></li>
                    <% end %>
                    <% else %>
                    <li class="menu-item"><%= link_to "   דף הורה   ", @trainee.parent, class: "btn btn-main btn-lg" %></li>
                    <% end %>

                </ul>
                <% if admin_signed_in? %>
                <%= bootstrap_form_for(@trainee, url: payment_path, local: true) do |f| %>

                <%= f.select :ticket, (1..10), label: "מספר הכרטיסים לטעינה" %>
                <%= f.hidden_field :id, value: @trainee.id %>
                <%= f.submit "טען כרטיסים", class: "btn btn-primary" %>

                <% end %>

                <% end %>
            </div>
        </div>
        <div class="col-md-4">
            <div class="profile-stats">
                <div class="col">
                    <ul class="no-bullets">
                        <li class="menu-item">גיל | <%= @trainee.age %></li>
                        <li class="menu-item">דואר אלקטרוני | <%= @trainee.email %></li>
                        <li class="menu-item">מספר טלפון | <%= link_to @trainee.phone, "https://wa.me/#{@trainee.get_international_number}" %></li>
                        <li class="menu-item">כרטיסים | <%= @trainee.payment_status %></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="profile-stats">
            <h3 style="margin-top: 5px;">
                השיעורים שלי
            </h3>
            <% if @trainee_time_slots.empty? %>
            <h3>
                אינך רשום לאף שיעור
            </h3>
            <% else %>
            <div class="table-responsive" style="direction: rtl;">
                <table class="table table-hover table-bordered" style="background-color: white;">
                    <thead class="thead-dark" style="color: black;">
                        <tr>
                            <th class="text-center">פעילות </th>
                            <th class="text-center">תאריך </th>
                            <th class="text-center">יום </th>
                            <th class="text-center">שעה </th>
                            <th colspan="1"></th>
                        </tr>
                    </thead>

                    <tbody style="color: black;">
                        <% @trainee_time_slots.each do |activity| %>
                        <tr>
                            <td><%= activity.mother.name %></td>
                            <td><%= activity.start_time.strftime("%d.%m.%y") %></td>
                            <td><%= daynum_to_hebrew_day(activity.start_time.wday) %></td>
                            <td><%= activity.get_clean_datetime(:time) %></td>
                            <td><%= link_to 'בטל רישום', cancel_enrollment_path(slot_id: activity.id, trainee_id: @trainee.id) %></td>

                        </tr>
                        <% end %>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
        <br>
    </div>