<% provide(:title, "Instructor Profile") %>
<div class="basic-container first-container">
    <div class="row">
        <aside class="col-md-3">
            <section>

                <%= image_tag @activity.displayed_image,
                     loading: "lazy", alt: @activity.name, class: "rounded-full" %>
            </section>
            <section class="name">
                <%= link_to "חזרה לעמוד הבית", root_path_helper, class: "btn btn-main btn-lg" %>
            </section>
        </aside>
        <div class="col-md-8">
            <div class="profile-stats">
                <ul class="no-bullets">
                    <li class="menu-item">משך השיעור | <%= @activity.duration %> דקות</li>
                </ul>
            </div>

            <div class="profile-stats">
                <%= @activity.description %>
            </div>

            <% if admin_signed_in? %>
            <section>
                <div class="btn btn-secondary">
                    <%= link_to "Schedule Activity", new_time_slot_path(id: @activity.id) %>
                </div>
            </section>
            <% end %>

        </div>
    </div>
</div>