<% provide(:title, "Activity Profile") %>
<div class="row">
    <aside class="col-md-4">
        <section>
            <h1>
                <%= image_tag @activity.displayed_image,
                     loading: "lazy", alt: @activity.name, class: "rounded-full" %>
            </h1>
        </section>
        <section class="stats">
            <%= @activity.name.capitalize %>
        </section>
    </aside>
    <div class="col-md-8">

        <ul class="no-bullets">
            <li class="menu-item">Duration | <%= @activity.duration %></li>
            <li class="menu-item">Capacity | <%= @activity.capacity %></li>
        </ul>


        <% if admin_signed_in? %>
        <section>
            <div class="btn btn-secondary">
                <%= link_to "Schedule Activity", placeholder_path %>
            </div>
        </section>
        <% end %>

    </div>
</div>