        <div class="basic-container">
            <%= week_calendar(events: activities, number_of_weeks: week_number, start_date: date_begin) do |date, activities| %>

            <%= date %>

            <% activities.each do |activity| %> <div class="card">
                <% back_color = "#{activity.mother.instructor.color}" %>
                <% back_color = "white" if back_color == "" %>

                <div class="card-body" style="background-color: <%= back_color %>; text-align: center; border-radius: 10%; padding-top: 10px; padding-bottom: 10px; margin-top: 5px; font-weight: bold;">
                    <h4 class="card-title"><%= activity.mother.name %></h4>
                    <h5 class="card-subtitle mb-2 text-muted"><%= link_to activity.mother.instructor.first.capitalize + ' ' + activity.mother.instructor.last.capitalize,
                                                                     activity.mother.instructor %></h5>
                    <h5> השיעור מתחיל ב: <%= activity.start_time.to_s(:time) %> </h5>
                    <br>
                    <% if admin_signed_in? %>
                    <%= link_to "הרשמה", enroll_path(id: activity.id), class: "btn btn-primary btn-lg btn-floating" %>
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" data-target="#mobileNav" aria-haspopup="true" aria-expanded="false">
                        מתאמנים רשומים - <%= activity.occupancy %>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <ul class="no-bullets">
                            <% activity.get_enrolled_trainees.each do |trainee| %>

                            <li class="menu-item"><%= link_to trainee.first + ' ' + trainee.last, trainee %></li>
                            <% end %>
                        </ul>
                    </div>
                    <% else %>
                    <%= link_to "פרטים נוספים", activity.mother, class: "btn btn-main" %>
                    <% end %>
                </div>
                <% end %>
                <% end %>
            </div>
        </div>