<!-- available colors: primary | secondary | white | ghost-->
<!-- available sizes: xl | lg | md | sm-->
<!-- the bootstrap navbar-->
<nav class="navbar navbar-fixed-top navbar--color--secondary navbar--size--xl" data-startColor="navbar--color--secondary" data-startSize="navbar--size--xl" data-intoColor="navbar--color--primary" data-intoSize="navbar--size--md">
    <div class="container">
        <div class="nav navbar-nav" , style="max-width: 100px; max-height: 30px;">
            <%= link_to image_tag("logo-small.jpg", :alt => "The Studio", :class => "img-fluid"), root_path %>
        </div>
        <div class="nav navbar-nav navbar-right">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" data-target="#mobileNav" aria-haspopup="true" aria-expanded="false">
                Login
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <ul class="no-bullets">
                    <li class="menu-item"><%= link_to "Trainee Login", placeholder_path %></li>
                    <li class="menu-item"><%= link_to "Instructor Login", new_instructor_session_path %></li>
                </ul>
            </div>
            <% if I18n.locale == :en %>
            <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#mobileNav" aria-expanded="false">
                <%= link_to 'עברית', root_path(locale: :he) %>
            </button>
            <% else %>
            <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#mobileNav" aria-expanded="false">
                <%= link_to 'English', root_path(locale: :en) %>
            </button>
            <% end %>
        </div>

    </div>


</nav>