<div class="navbar-nav mr-auto nav-right dropleft">
    <ul class="navbar-nav mr-auto no-bullets">
        <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle btn btn-primary btn-lg" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= resource.full_name %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%= link_to "עריכת פרופיל", edit_resource_path(resource), class: "dropdown-item btn btn-primary btn-m" %>
                <%= link_to placeholder_path do %>
                <span class="dropdown-item btn btn-primary btn-m"><i class="fa fa-bell">
                        <span class="badge badge-info"><%= resource.notifications.count %></span>
                    </i>הודעות</span>
                <% end %>
                <%= link_to "התנתקות", destroy_resource_session_path(resource),method: :delete, class: "dropdown-item btn btn-primary btn-m" %>

            </div>
        </li>
    </ul>
</div>