<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark navbar-fixed-top">
    <ul class="navbar-nav mr-auto no-bullets">
        <%= link_to root_path do %>
        <li><%= image_tag("logo-small.jpg", alt: 'The Studio')%></li>
        <% end %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">פרופיל</span>
        </button>
    </ul>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <% if anyone_signed_in? %>
        <%= render 'layouts/resource_header', resource: current_resource %>
        <% else %>
        <ul class="navbar-nav mr-auto no-bullets nav-right">
            <li><%= link_to "כניסת מדריכים", new_instructor_session_path, class: "nav-link btn btn-primary sqs-block-button-element" %></li>
            <li> <%= link_to "כניסת מתאמנים", placeholder_path, class: "nav-link btn btn-primary sqs-block-button-element" %></li>
        </ul>
        <% end %>
    </div>

</nav>
<div class="spacer-div" id="spacer"></div>