<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <div class="nav navbar-nav" , style="max-width: 100px; max-height: 30px;">
            <%= link_to image_tag("logo-small.jpg", :alt => "The Studio"), root_path %>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <% if current_user %>
                TBD
                <% elsif current_instructor %>
                <li><%= link_to('Profile', current_instructor) %></li>
                <li><%= link_to('Summary', placeholder_path) %></li>
                <li><%= link_to('Sign Out', destroy_instructor_session_path, method: :delete) %></li>
                <% elsif current_admin %>
                <li><%= link_to('Dashboard', admin_root_path) %></li>
                <li><%= link_to('Instructors', instructors_path) %></li>
                <li><%= link_to('Add Instructor', new_instructor_registration_path) %></li>
                <li><%= link_to('Sign Out', destroy_admin_session_path, method: :delete) %></li>
                <% end %>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
</nav>